@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-cyan: hsl(193, 38%, 86%); /* Advice */
  --neon-green: hsl(150, 100%, 66%); /* Advice ID */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%); /* Wrapper BG */
  --dark-blue: hsl(218, 23%, 16%); /* background */
  --font-manrope: var(--font-manrope);
}

@theme inline {
  --color-background: var(--dark-blue);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--dark-blue);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}
